{% load static %}
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Filtered Exercise List</title>
    <script>
        var filter_dict = {{ filter_dict|safe }};
    </script>
</head>
<body>
    {% include "user/navbar.html" %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'exercise/css/exerciseListStyle.css' %}">

    <div class="container-fluid mx-0">
        <div class="row">
            <div class="col-9 px-0">
                <div class="search-and-filter py-4 mt-0">
                    <div class="filter-left-column container mx-0 mr-5">
                        <div class="row">
                            <p class='display-4'>PLAN YOUR WORKOUT</p>
                        </div>
                        <div class="row">
                            <form method="get" id="search-form">
                                <div class="form-name-input px-0" style="display: flex; justify-content: space-between;">
                                    <input type="text" name="exercise_name" id="exercise_name" placeholder="Search exercises">
                                    <button id="search-button" type="button" class="btn btn-primary" onclick="handleFilterChange()">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                        </svg>
                                    </button>
                                    <input type="submit" hidden/>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="filter-right-column container col-6 pl-5">
                        <form method="get" class="filter-form" id="filter-form">
                            <fieldset id="filter-fieldset">
                                <legend>FILTERS</legend>
                                <hr class="mt-0 mb-3"/>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="exercise_muscle">Muscle:</label>
                                            <select class="custom-select" id="exercise_muscle" name="exercise_muscle">
                                                <option value="none">None</option>
                                                <option value="abdominals">Abdominals</option>
                                                <option value="hamstrings">Hamstrings</option>
                                                <option value="calves">Calves</option>
                                                <option value="shoulders">Shoulders</option>
                                                <option value="adductors">Adductors</option>
                                                <option value="glutes">Glutes</option>
                                                <option value="quadriceps">Quadriceps</option>
                                                <option value="biceps">Biceps</option>
                                                <option value="forearms">Forearms</option>
                                                <option value="abductors">Abductors</option>
                                                <option value="triceps">Triceps</option>
                                                <option value="chest">Chest</option>
                                                <option value="lower back">Lower Back</option>
                                                <option value="traps">Traps</option>
                                                <option value="middle back">Middle Back</option>
                                                <option value="lats">Lats</option>
                                                <option value="neck">Neck</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="exercise_level">Level:</label>
                                            <select class="custom-select" id="exercise_level" name="exercise_level">
                                                <option value="none">None</option>
                                                <option value="beginner">Beginner</option>
                                                <option value="intermediate">Intermediate</option>
                                                <option value="expert">Expert</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="exercise_equipment">Equipment:</label>
                                            <select class="custom-select" id="exercise_equipment" name="exercise_equipment">
                                                <option value="none" {% if option.value == filter_dict.equipment %}selected{% endif %}>None</option>
                                                <option value="body only ">Body Only</option>
                                                <option value="machine">Machine</option>
                                                <option value="kettlebells">Kettlebells</option>
                                                <option value="dumbbell">Dumbbell</option>
                                                <option value="cable">Cable</option>
                                                <option value="barbell">Barbell</option>
                                                <option value="bands">Bands</option>
                                                <option value="medicine ball">Medicine Ball</option>
                                                <option value="exercise ball">Exercise Ball</option>
                                                <option value="e-z curl bar">E-Z Curl Bar</option>
                                                <option value="foam roll">Foam Roll</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="exercise_category">Category:</label>
                                            <select class="custom-select" id="exercise_category" name="exercise_category">
                                                <option value="none">None</option>
                                                <option value="strength">Strength</option>
                                                <option value="stretching">Stretching</option>
                                                <option value="plyometrics">Plyometrics</option>
                                                <option value="strongman">Strongman</option>
                                                <option value="powerlifting">Powerlifting</option>
                                                <option value="cardio">Cardio</option>
                                                <option value="olympic weightlifting">Olympic Weightlifting</option>
                                                <option value="crossfit">Crossfit</option>
                                                <option value="weighted bodyweight">Weighted Bodyweight</option>
                                                <option value="assisted bodyweight">Assisted Bodyweight</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <button type="submit" hidden></button>
                        </form>
                    </div>
                </div>

                <div id="display_ex_container" class="container-fluid">
                    {% for exercise, img in recommended_exercises %}
                        {% if forloop.first or forloop.index0|divisibleby:2 %}
                            <div class="exercise-card-row">
                        {% endif %}

                        <div class="exercise-card mx-2 recommended">
                            <div class="p-1" style="display: flex; flex-direction: column;">
                                <img src="{{ img.url_0 }}" alt="{{ exercise.name }}">
                                <img class="mt-1" src="{{ img.url_1 }}" alt="{{ exercise.name }}">
                            </div>
                            <div class="exercise-details ml-3 row">
                                <h3 class="mb-4 container-fluid my-0" style="padding-right: 120px;"><strong>{{ exercise.name }}</strong></h3>
                                <div class="col-6">
                                    <p><strong>Level:</strong> {{ exercise.level }}</p>
                                    <p><strong>Equipment:</strong> {{ exercise.equipment }}</p>
                                    <p><strong>Primary Muscles:</strong> 
                                        {% for muscle in exercise.primaryMuscles.all %}
                                            {{ muscle.name }}{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </p>
                                </div>
                                <div class="col-6">
                                    <p><strong>Secondary Muscles:</strong> 
                                        {% for muscle in exercise.secondaryMuscles.all %}
                                            {{ muscle.name }}{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                            <div style="position: relative;">
                                <button class="add_to_selected"
                                    data-id="{{ exercise.id }}"
                                    data-instructions="{{ exercise.instructions }}"
                                    data-name="{{ exercise.name }}"
                                    data-equipment="{{ exercise.equipment }}"
                                    data-level="{{ exercise.level }}"
                                    data-primary="{% for muscle in exercise.primaryMuscles.all %}
                                                    {{ muscle.name }}{% if not forloop.last %}, {% endif %}
                                                {% endfor %}"
                                    data-secondary="{% for muscle in exercise.secondaryMuscles.all %}
                                                {{ muscle.name }}{% if not forloop.last %}, {% endif %}
                                            {% endfor %}">
                                    Add to selected</button>
                            </div>
                        </div>

                        {% if forloop.last or forloop.index0|add:1|divisibleby:2 %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% for exercise, img in exercises %}
                        {% if forloop.first or forloop.index0|divisibleby:2 %}
                            <div class="exercise-card-row">
                        {% endif %}

                        <div class="exercise-card mx-2">
                            <div class="p-1" style="display: flex; flex-direction: column;">
                                <img src="{{ img.url_0 }}" alt="{{ exercise.name }}">
                                <img class="mt-1" src="{{ img.url_1 }}" alt="{{ exercise.name }}">
                            </div>
                            <div class="exercise-details ml-3 row">
                                <h3 class="mb-4 container-fluid my-0" style="padding-right: 120px;"><strong>{{ exercise.name }}</strong></h3>
                                <div class="col-6">
                                    <p><strong>Level:</strong> {{ exercise.level }}</p>
                                    <p><strong>Equipment:</strong> {{ exercise.equipment }}</p>
                                    <p><strong>Primary Muscles:</strong> 
                                        {% for muscle in exercise.primaryMuscles.all %}
                                            {{ muscle.name }}{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </p>
                                </div>
                                <div class="col-6">
                                    <p><strong>Secondary Muscles:</strong> 
                                        {% for muscle in exercise.secondaryMuscles.all %}
                                            {{ muscle.name }}{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                            <div style="position: relative;">
                                <button class="add_to_selected"
                                    data-id="{{ exercise.id }}"
                                    data-instructions="{{ exercise.instructions }}"
                                    data-name="{{ exercise.name }}"
                                    data-equipment="{{ exercise.equipment }}"
                                    data-level="{{ exercise.level }}"
                                    data-primary="{% for muscle in exercise.primaryMuscles.all %}
                                                    {{ muscle.name }}{% if not forloop.last %}, {% endif %}
                                                {% endfor %}"
                                    data-secondary="{% for muscle in exercise.secondaryMuscles.all %}
                                                {{ muscle.name }}{% if not forloop.last %}, {% endif %}
                                            {% endfor %}">
                                    Add to selected</button>
                            </div>
                        </div>

                        {% if forloop.last or forloop.index0|add:1|divisibleby:2 %}
                            </div>
                        {% endif %}
                    {% endfor %}
                
                    <!-- Pagination -->
                    <div class="pagination container">
                        {% if exercises.has_previous %}
                        <a onclick="javascript:getPageUrl(1)" class="first">First</a>
                        <a onclick="javascript:getPageUrl({{ exercises.previous_page_number }})" class="prev">&laquo; Previous</a>
                        {% endif %}
                
                        <div class="page-numbers">
                            {% for num in page_range %}
                                {% if current_page_number == num %}
                                    <a onclick="javascript:getPageUrl({{ num }})" class="page active">{{ num }}</a>
                                {% elif num > current_page_number|add:'-4' and num < current_page_number|add:'4' %} <a onclick="javascript:getPageUrl({{ num }})"
                                    class="page">{{ num }}</a>
                                {% endif %}
                            {% endfor %}
                
                        </div>
                        <span class="current mx-3">Page {{ current_page_number }} of {{ num_pages }} pages</span>
                
                        {% if exercises.has_next %}
                            <a onclick="javascript:getPageUrl({{ exercises.next_page_number }})" class="next">Next &raquo;</a>
                            <a onclick="javascript:getPageUrl({{ num_pages }})" class="last">Last</a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-3">
                <h1 class='text-center mt-3'><strong>Selected Exercises</strong></h1>
                <hr>
                <button id="download_exercises">Download Exercise Plan</button>
                <div id='selected_ex_container' class="mt-5">
                    {% for exercise in selected_exercises %}
                        <div class="selected-card mx-2" id='selected_exercise_{{ exercise.id }}' data-id="{{ exercise.id }}" data-instructions="{{ exercise.instructions }}">
                            <div class="exercise-details">
                                <h3 class="mb-4"><strong>{{ exercise.name }}</strong></h3>
                                <p><strong>Level:</strong> {{ exercise.level }}</p>
                                <p><strong>Equipment:</strong> {{ exercise.equipment }}</p>
                                <p><strong>Primary Muscles:</strong> 
                                    {% for muscle in exercise.primaryMuscles.all %}
                                        {{ muscle.name }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </p>
                                <p><strong>Secondary Muscles:</strong> 
                                    {% for muscle in exercise.secondaryMuscles.all %}
                                        {{ muscle.name }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </p>
                            </div>
                            <button class="remove_selected" data-id="{{ exercise.id }}">X</button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</body>

<script src="{% static 'exercise/javascript/exercise_list.js' %}">
</script>

</html>